---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Enhancements from '../components/Enhancements.astro';
import { SITE_TITLE, SITE_AUTHOR, SITE_DESCRIPTION } from '../site';

export interface Props {
  title?: string;
  description?: string;
  bodyClass?: string;
}

const { title, description, bodyClass } = Astro.props;
const pageTitle = title ? `${title} · ${SITE_TITLE}` : SITE_TITLE;
const metaDescription = description || SITE_DESCRIPTION;
const canonical = Astro.url;

import '../styles/main.scss';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="canonical" href={canonical.href} />

    <meta name="description" content={metaDescription} />
    <meta name="author" content={SITE_AUTHOR} />

    <meta property="og:site_name" content={SITE_TITLE} />
    <meta property="og:title" content={title || SITE_TITLE} />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:url" content={canonical.href} />

    <title>{pageTitle}</title>
  </head>
  <body class={bodyClass}>
    <nav>
      <Nav currentPath={Astro.url.pathname} />
    </nav>

    <div class="wrapper">
      <main>
        <slot />
      </main>
      <footer>
        <Footer />
      </footer>
    </div>

    <Enhancements />
  </body>
</html>
